.buy-now{
    background-color: rgb(64, 8, 116);
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 10px;
    display: inline-block;
}
.buy-now:hover{
    color: #ffffff;
    background-color: rgb(120, 32, 202);
}
.price{
    margin: 30px 2px;
    color: green;
    font-weight: bold;
    font-size: 30px;
}
.cart-img{
    height: 20px;
    width: 20px;
    margin: 4px 1px;
}
.image{
    width: 400px;
    height: 400px;
}
.product_image{
    background-color: #dddddd;
    border-radius: 15px;
    padding: 10px;
    
}
.card{
    border: none;
    background-color: #ffffff; 
    box-shadow: 10px 5px 10px 5px #aaaaaa;
    border-radius: 15px;
}
h1{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(64, 8, 116);
}
h5{
    color: rgb(64, 8, 116);
}
aside h2{
    font-weight: bold;
}
aside img{
    width: 150px;
    height: 150px;
    margin: 10px;
}
.aside_content{
    background-color: #ffffff; 
    box-shadow: 10px 5px 10px 5px #aaaaaa;
    margin-bottom: 50px;
    padding-top: 10px;
    border-radius: 10px;
}
.aside_main_content{
    margin: 10px;
}
.contact_section{
    margin-top: 50px;
}
header{
    padding: 0px 50px;
}
section{
    padding: 50px;
}
.bonous_section{
    border: 5px solid rgb(247, 72, 9);
    width: 400px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    background-color: #ddd;
}
.bonous_section h2{
    margin: 0px 10px 20px 10px;
    background-color: #ffffff;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    
}